<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->
 
  <script src="js/libs/modernizr-2.0.6.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/pjk0aeu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

  <div id="container">
  </div> <!--! end of #container -->

  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/libs/underscore-min.js"></script>
  <script src="js/libs/backbone-min.js"></script>
  <script src="js/libs/jquery.animate-enhanced.min.js"></script>
  <script src="js/libs/jquery-css-transform.js"></script>
  <script src="js/script.js"></script> 
  <script src="js/venue.js"></script>	
  <script src="js/twitter.js"></script>	
  <!-- end scripts-->
    <script type="text/template" id="row-view">
    </script>
    <script type="text/template" id="category-event-view">
        <div class="by-category">
            <div class="lower-section">
                <img src="img/marsbot.png">
                <div class="category"><%= category %></div><div class="checkins"><%= checkins %></div>
            </div>
        </div>
    </script>
    <script type="text/template" id="event-view">
        <div class="text-event-view">
            <div class="text"><%= name %></div>
        </div>
    </script>

  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
